.filter {
  margin-bottom: 32px;
  color: #121417;
}
.filterWrap {
  display: flex;
  gap: 20px;
}
.filterItem {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.filterHeader {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  background: #fff;

  width: 221px;
  padding: 14px 14px 14px 16px;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 4px;
}
.filterTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  margin-bottom: 8px;
}
.filterlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown {
  padding: 14px 14px 14px 16px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.FilterButton {
  width: 100%;
  text-align: start;
  color: rgba(18, 20, 23, 0.2);
}
.active,
.FilterButton:hover,
.FilterButton:focus {
  color: #121417;
}

.favoriteWrap {
  background: #fff;
  width: 75px;
  height: 20px;
  border-radius: 30px;
  margin-top: 35px;
  margin-left: 350px;
  display: flex;
  align-items: center;
  position: relative;
}
.heart {
  fill: none;
  stroke: currentColor;
}
.heartActive {
  fill: red;
  stroke: red;
}
.favoriteWrapActive {
  background-color: var(--yellow);
}
.toggle {
  width: 50px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.Favorite .icon {
  transform: translate(47px, -50%);
}
