:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #f4c550;
  --orange-lite: #fbe9ba;
  --aqua: #9fbaae;
  --aqua-lite: #cbded3;
  --blue: #9fb7ce;
  --blue-lite: #bfd6ea;
  --red: #e0a39a;
  --pink: #f2c0bd;
  --orange: #f0aa8d;
  --pink-lite: #f4c8ba;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
